# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore PyCharm project files
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log and temp files
*.log
*.tmp

# Ignore test output or coverage reports
htmlcov/
*.cover
coverage.xml
*.egg-info/
dist/
build/

# too large files
wikipedia_bd/
Wikipedia_bd.zip
wikipedia_bd.histogram
glove.6B.100d.txt
